/*!
 * Alexandre Pourrier's icon set.
 * Example usage: <i class="ap ap-arrow-right"></i>
 */

.ap {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-position: 0 3px;
}

.ap-pos-0 {
  background-position: 0;
}

.ap-80 {
  width: 80px;
  height: 80px;
}

.ap-avatar {
  background-image: url("./icons/icon-avatar.svg");
}

.ap-arrow-right {
  background-image: url("./icons/icon-arrow-right.svg");
}

.ap-just-play-bridge {
  background-image: url("./icons/icon-just-play-bridge.svg");
}

.ap-bridge-four {
  background-image: url("./icons/icon-bridge-four.svg");
}

.ap-just-declare {
  background-image: url("./icons/icon-just-declare.svg");
}

.ap-bridge-master {
  background-image: url("./icons/icon-bridge-master.svg");
}

.ap-match-points {
  background-image: url("./icons/icon-match-points.svg");
}

.ap-imp {
  background-image: url("./icons/icon-imp.svg");
}

.ap-video-bridge {
  background-image: url("./icons/icon-video-bridge.svg");
}

.ap-plus {
  background-image: url("./icons/icon-plus.svg");
}

.ap-forums {
  background-image: url("./icons/icon-forums.svg");
}

.ap-learn {
  background-image: url("./icons/icon-learn.svg");
}

